<header>
    <h1> Cheer.io - Get your groove back!</h1>
</header>

<div class="afbeelding_doe_de_test">
</div>



<div class="bodystuff">
    <h3> Feel like you are stuck? Do you really need a break? </h3>
    <h3><%= link_to "Do the test NOW!", surveys_path %></h3>
</div>
