body {
	margin:0;
	background-color: pink;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: black;
}

.bodystuff {
    margin:0;
    background-color: pink;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: black;
}


.answers {
    background-image: url("https://ununsplash.imgix.net/photo-1429030150151-548690082f0b?fit=crop&fm=jpg&h=700&q=75&w=1050");
    background-size: cover;
}

.surveys {
   background-image: url("https://download.unsplash.com/photo-1415201179613-bd037ff5eb29");
   background-size: cover;
}


div.relative {
	position: relative;
	left: 30px;
	border: 3px solid #8AC007;
}

ul {
  list-style-image: url("https://download.unsplash.com/photo-1430132594682-16e1185b17c5");
}

div {
 }

.top-nav {
    background-color: black;
    max-width:900px;
    height: 3px;
    margin-left:0px;
    padding-left:10px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.afbeelding_doe_de_test {
background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e7/Flaming_cocktails.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
text-align: right;
font-size: 40px;
color: black;
height: 60vh;
}

.afbeelding_container .tekst_container {
position: absolute;
top: 10px;
left: 20px;
color: #FFFFFF;
}



h1 {
	text-align: center;
	font-size: 40px;
	color: black;
}

h2 {
    text-align: left;
    font-size: 30px;
    color: black;
    font: arial;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #A4B1CF;
}

h4 {
    text-align: left;
    font-size: 20px;
    color: white;
}

.content_wrapper img {
    margin: 50px auto; 
    position: relative; 
    width: 120px; 
    height: 120px; 
    padding: 10px; 
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 100 px; 
    height: 70 px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;

.button {
    margin: 50px auto; 
    position: relative; 
    width: 10 px; 
    height: 5 px; 
}
